<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="servicioFactura" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
        <property name="serviceUrl" value="http://localhost:8084/SpringRemotingHessianServer/remoting/ServicioFactura"/>
        <property name="serviceInterface" value="beans.Factura"/>
    </bean>

    <bean id="testHessian" class="test.TestHessian" p:factura-ref="servicioFactura"/>
</beans>